{% set page_name = 'About' %}
{% extends 'page-layout.njk' %}
{% block pageContent %}
    <section id="mission" class="row"></section>
    <section id="history" class="row"></section>
    <section id="affiliations" class="row"></section>
{% endblock pageContent %}