{% set page_name = 'Events' %}
{% extends 'page-layout.njk' %}
{% block pageContent %}
    <section id="events">
        <div class="row">
            <div class="col-md-6">
            </div>
        </div> 
    </section>
{% endblock pageContent %}