{% set page_name = 'Events' %}
{% extends 'page-layout.njk' %}
{% block pageContent %}
    <section id="events">
        <div class="row">
            
                {% for event in events %}
                <div class="col-md-6">
                {% include "partials/event-card.njk" %} 
                </div>
                {% endfor %}
           
        </div> 
    </section>
{% endblock pageContent %}