{% set page_name = 'Nurses' %}
{% extends 'page-layout.njk' %}
{% block pageContent %} 
<section id="nurses">
{% for nurse in nurses %}
      <div class="staff row">
            <div class="col-md-6">
                <div class="staff-img">
                    <img src='https://placehold.it/500x500?text=Headshot%20Here' alt=''/>
                </div>
            </div>
            <div class="col-md-6">
                <div class="staff-text">
                    <h2 class="s-name">{{nurse.name}}</h2>
                    <p class="s-title">{{nurse.title}}</p>
                    {% include "partials/social-media-menu.njk" %}
                    <p class="s-text">
                        Qui minim duis aute in amet eu dolore laborum. Et esse amet officia cillum. Commodo magna culpa tempor consectetur enim mollit nisi sint. Labore ipsum consectetur et ipsum velit commodo voluptate cupidatat fugiat ipsum irure sint duis. Est anim excepteur ea commodo exercitation et culpa voluptate. Lorem sit ad irure pariatur est elit voluptate est.
                    </p>
                </div>
            </div>
        </div>
{% endfor %} 
</section>
{% endblock pageContent %}

