{% set page_name = 'Patients' %}
{% extends 'page-layout.njk' %}
{% block pageContent %}
    <section id="patients">
        <div class="row">
            <div class="col-12 p-4">
                <h1 class="display-4 text-center">
                    Title
                </h1>
            </div>
        </div>
        <div class="row plans">
            {% for plan in plans %}
            {% include "partials/patient-plans.njk" %}
            {% endfor %}
        </div>
    </div>
    <div class="row">
            <div class="col-12 p-4">
                <h1 class="display-4 text-center">
                    Title
                </h1>
            </div>
        </div>
        <div class="row plans">
            {% for plan in plans %}
            {% include "partials/patient-plans.njk" %}
            {% endfor %}
        </div>
    </div>
</section>
<section id="faqs-sec" class="row">
    <div class="col-12 faqs">
        {% for q in faq %}
        {% include "partials/accordion.njk" %}
        {% endfor %}
    </div>
</section>
{% endblock pageContent %}