// Media Breakpoints

$mobile: "only screen and (max-width : 990px)";
$lt-tab: "only screen and (max-width : 1050px)";
$laptop: "only screen and (min-width : 1100px)";
$laptop-md: "only screen and (min-width : 1250px)";
$laptop-plus: "only screen and (min-width : 1439px)";

//Colors

$site-red: #f6435f;
$site-yellow: #ff9625;
$bg-gray: #373737;
$gray-icon: #5c5b5b;
$white-50: #ffffff80;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');

@font-face {
    font-family: barlow_black;
    src: local(barlow_black), url('../assets/fonts/BarlowCondensed-Black.ttf') format('opentype');
}

@font-face {
    font-family: barlow;
    src: local(barlow_black), url('../assets/fonts/BarlowCondensed-Medium.ttf') format('opentype');
}

@font-face {
    font-family: barlow-bold;
    src: local(barlow_black), url('../assets/fonts/BarlowCondensed-Bold.ttf') format('opentype');
}

@font-face {
    font-family: barlow-thin;
    src: local(barlow-thin), url('../assets/fonts/BarlowCondensed-Thin.ttf') format('opentype');
}

@font-face {
    font-family: barlow-light;
    src: local(barlow-Light), url('../assets/fonts/BarlowCondensed-Light.ttf') format('opentype');
}


$barlow-blk: barlow_black, 'Roboto', sans-serif;
$barlow: barlow, 'Roboto', sans-serif;
$barlow-bold: barlow-bold, 'Roboto', sans-serif;
$barlow-thin: barlow-thin, 'Roboto', sans-serif;
$barlow-light: barlow-light, 'Roboto', sans-serif;
$roboto: 'Roboto', sans-serif;
