#mission {
  @extend %half-img-text;

  .mission-text {
    @extend %half-text-sec;

    .m-title {
      @extend %ht-title;
    }

    .m-subtitle {
      @extend %ht-subtitle;
    }
  }

  .mission-img {
    @extend %ht-img-sec;
    text-align: center;
  }
}

#history {
  background-color: $bg-gray;

  .history-col {
    padding-top: 50px;
    padding-bottom: 50px;
    border-right: solid 1px $white-50;

    &:last-of-type {
        border-right: none;
    }

    .h-title {
        font-family: $barlow-bold;
        color: white;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .h-text {
        color: $white-50;
    }
  }

  .history-icon {
    color: $gray-icon;
    font-size: 3.5rem;

    &:hover {
      i {
        @extend %gradient-text;
        font-size: 3.5rem;
        padding-left: 0;
      }
    }
  }
}

#abt-affilations {
    min-height: 360px;
    padding: 30px 0;

    .af-title {
        font-family: $barlow-bold;
        text-transform: uppercase;
    } 

    .afilliate {
        text-align: center;
        padding: 0 20px;
    }

    .afil-col {
        border: solid 1px transparent;
        padding: 5px;
        transition-duration: 1s;
        &:hover{
            border: solid 1px #686666;
            transition-duration: 1s;
            padding-top: 10px;
        }

        
    }

    .af-logo {
        margin: auto auto;
        vertical-align: middle;
        width: 100%;
        border: solid 1px #999898;
        filter: grayscale(100%) opacity(40%);
        transition-duration: 1s;
        &:hover {
            width: 95%;
            border: solid 1px #686666;
            filter: grayscale(100%) opacity(100%);
            transition-duration: 1s;
        }
    }

    .af-logo-hover {
        width: 95%;
        border: solid 1px #686666;
        filter: opacity(100%);
        transition-duration: 1s;
    }
}

