#main-services {
  padding-top: 100px;
  padding-bottom: 100px;
}

.service-row {
  display: flex;
  font-family: $barlow;
  justify-content: center;
  text-align: center;
  flex-flow: row;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0 150px;
  @media #{$mobile} {
    flex-flow: column;
    padding: 0 20px;
  }

  .service {
    display: flex;
    border: solid 1px #cecece;
    justify-content: center;
    flex-direction: row;

    margin: 0;
    width: 100%;
    padding: 40px 20px;

    h2 {
      margin: auto;
    }
  }

  .icon {
    i {
      @extend %gradient-text;
    }
  }
}
