#online-payments {
    padding: 100px 80px;
    color: white;
    text-align: center;
    background: linear-gradient(to bottom, #000000e1, #000000b7), url(../assets/images/dumbbells.jpg)fixed;
    background-size: cover;
}