#testimonials {  
  padding-top: 70px;
  padding-bottom: 40px;
  margin-bottom: 30px;
  .owl-dots {
    margin-top: 30px !important;
  }
 
  img {
    height: 500px;
    width: auto; 
    display: inline-block;
    margin-right: 20px;
   
  }
  @media #{$laptop} {
    height: 700px;
  }
  @media #{$mobile} {
    padding-top: 30px;
     padding-bottom: 10px;

    img {
       max-height: 0px;
     }
    }
  }

    .testimnl-quote {
      text-align: left;
    }

    .testiml-name {
        display: block;
        font-family: $barlow-bold;
        margin-bottom: 30px;
        font-size: 2.5rem;
        font-weight: 500;
        @media #{$mobile} {
          font-size: 2rem;
        }
    }

    .testiml-title {
        font-family: $barlow;
        font-size: 1.6rem;
    }




blockquote {
    font-family: $barlow-light;
    width: fit-content;
    font-size: 3rem;
    padding-top: 70px;
    background-image: url(../assets/images/open_quote.png);
    background-position: top left;
    background-repeat: no-repeat;
     span {
        display: block;
        width: 100%;
        padding-bottom: 70px;
          background-image: url(../assets/images/close_quote.png);
          background-repeat: no-repeat;
          background-position: bottom right;
        }

        @media #{$mobile} {
          font-size: 2.5rem;
        }
  
    }
