<ul id="contact-info">
    <li id="telephone">
        <a href="#">+ 1 800 123 4567</a>
    </li>
    <li id="address">
        <a href="#">123 Any Street, East Leftovershoe, MI, USA</a>
    </li>
    <li id="email">
        <a href="#">info@moa.com</a>
    </li>
</ul>