<div class="card m-3">
    <img src="{{event.photo}}" class="card-img-top" alt="...">
    <div class="card-body" style="height: 150px">
        <h5 class="card-title">{{event.name}}</h5>
        <p class="card-text">{{event.description}}</p>
    </div>
    <div class="card-footer align-top">
        <div class="row">
            <div class="col-md-4">
                <div class="text-muted text-left">
                    Date
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-muted text-center">
                    Moderator
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-muted text-right">
                    <a href="#">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</div>

