<footer>
    <div id="footer-container" class="container">
        <div class="row">
            <div class="col-md-4">
                <h3 class="footer-title">About Us</h3>
                <p class="footer-text">
                    Magna dolor veniam commodo esse excepteur irure incididunt ut.
                </p>
                <hr>
            </div>
            <div class="col-md-4">
                <h3 class="footer-title">Newsletter</h3>
                 <form>
                    <div class="form-group">
                        <input type="email" class="form-control footer-input" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    </div>
                    <button type="submit" class="btn btn-primary ftr-btn">Subscribe</button>
                </form>

            </div>
            <div class="col-md-4">
                <h3 class="footer-title">Contacts</h3>
                  <p class="footer-text">
                    Magna dolor veniam commodo esse excepteur irure incididunt ut.
                </p>
                <hr>
                  <p class="footer-text">
                    Magna dolor veniam commodo esse excepteur irure incididunt ut.
                </p>
            </div>
        </div>
    </div>
</footer>